@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    height: auto;
    width: auto;
    overflow-x: hidden;
}

.tnav{
    display: flex;
    align-items: center;
    width: auto;
    height: 55px;
    border: 2px solid #bab4b4;
}

.trnav{
    display: flex;
    justify-content: flex-end;
    align-items: end;
}